.main-container {
    height: 100vh;
    background-image: url('../../Images/arms-workout1.jpg');
    background-size: cover;
}

.font-size {
    font-size: 60px;
    color: white;
    opacity: 0.9;
}

.btn-orchid {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
}

.btn-orchid:hover {
    background-color: red;
    opacity: 0.8;
    transition: 0.6s;
}

.margin-top {
    margin-top: 7%;
}